body {
    background-color: darkorchid;
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Metamorphous;
}
#gridDiv {
    display: grid;
    grid-template-rows: 1fr auto; 
    height: 100vh;
}
#mainDiv {
 margin-top: auto;
 margin-bottom: 30px;
 display: flex;
 justify-content: center;
 gap: 10px;
}
#responseDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;  
    padding-left: 50px;  
    padding-right: 50px; 
    margin-bottom: 10px;
    box-sizing: border-box; 
}
p {
    font-size: 48px;
}
input {
    text-align: center;
    width: 250px;
    height: 7.5vh;
    font-size: 28px;
}
button {
    width: 150px;
    height: 8vh;
    font-size: 24px;
}
div {
    text-align: center;
    margin: 25px;
}
a {
    text-decoration: none;
    color: #00f2ec;
    font-size: 3vh;
}
a:hover {
    color: #0096f2;
    transition: 0.3s;
}
