body {
    background-color: darkorchid;
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Metamorphous;
}
#gridDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 600px;
    margin: 0 auto; 
    padding: 20px;
    flex-grow: 1;
}
#mainDiv {
 margin-top: auto;
 margin-bottom: 30px;
 display: flex;
 justify-content: center;
 gap: 10px;
}
#responseDiv {
    margin: 0px auto;
    text-align: center; 
    width: 100%; 
    max-width: 400px;
    max-height: 450px;
    overflow-y: auto;
    padding: 15px; 
}
p {
    font-size: 5vh;
}
input {
    text-align: center;
    width: 250px;
    height: 7.5vh;
    font-size: 28px;
}
button {
    width: 150px;
    height: 8vh;
    font-size: 24px;
}
div {
    text-align: center;
    margin: 25px;
}
a {
    text-decoration: none;
    color: #00f2ec;
    font-size: 3vh;
}
a:hover {
    color: #0096f2;
    transition: 0.3s;
}
#moodsList {
    max-height: 100px;
    overflow-y: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 600px; 
    text-align: center; 
    justify-content: center;
    font-family: 'Metamorphous', serif;
    font-size: 4vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#moodsList p {
    font-size: 2vh;
    width: 48%;  
    box-sizing: border-box;
}

@media (max-width: 700px) {
    #gridDiv {
        flex-direction: column;
        padding-left: 100px;
        padding-right: 25px;
    }

    /* Move the #moodsList to the top by using order */
    #moodsList {
        
        max-height: 75px;
        padding: 10px;
        font-size: 4vh;
        background-color: lightyellow; /* Temporarily change color for visibility */
        width: 100%;
    }

    button {
        height: 8.5vh;
    }
}